.profile-info {
  display: flex;
  margin: 0 150px 0 350px;
  padding: 20px 0;
  /* background-color: #c9b6b6; */
  border-bottom: 1px solid #c9b6b6;
}

.profile-info-title {
  /* background-color: green; */
  color: #919191;
  width: 20%;
  font-size: 14px;
  margin: 0;
}
.profile-info-value {
  /* background-color: red; */
  color: #444;
  width: 80%;
  font-size: 18px;
  margin: 0;
}
